@import "./Reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

$font-purple: #5f0280;
$font-white: #ffffff;
$font-black: #333333;
$font-grey: #f7f8f9;

$theme-color: #512772;
$purple-text-color: #59368f;
$purple-item-sticker: #b69ac8;
$dark-gray: #949296;
$light-gray: #dddfe1;
$background-gray: #f5f5f5;
$yellow-color: #febf00;
$common-width: 1050px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 10px;

  body {
    font-family: "Noto Sans";
  }
}

.small-yellow-box {
  display: inline-block;
  width: 50px;
  padding: 4px 4px;
  background-color: #febf00;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  text-align: center;
}
