@import "./Reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

$font-purple: #5f0280;
$font-white: #ffffff;
$font-black: #333333;
$font-grey: #f7f8f9;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 10px;

  body {
    font-family: "Noto Sans";
  }
}
