@import "../../Styles/Common.scss";

.footer-wrapper {
  width: 1050px;
  margin: 0 auto;
  font-size: 12px;

  .footer-top {
    .cs {
      float: left;
      width: 534px;
      line-height: 24px;

      h2 {
        padding: 10px 0 2px;
        margin: 20px auto;
        font-size: 23px;
        font-weight: 500;
      }

      button {
        width: 140px;
        height: 50px;
        font-weight: 500;
        font-size: 14px;
      }

      ul {
        display: table;
        margin-left: 18px;

        li:nth-child(2) {
          color: #999999;
        }
      }

      .cc {
        .call {
          display: flex;
          margin-bottom: 25px;

          button {
            font-size: 25px;
            font-weight: 600;
          }
        }

        .kakao,
        .qna {
          display: flex;
          margin-bottom: 25px;

          button {
            border: 1px solid #999999;
          }
        }
      }
    }

    .footer-company {
      float: left;
      padding-top: 29px;
      line-height: 20px;
      font-size: 12px;

      ul {
        display: flex;
        width: 100%;
        padding-bottom: 29px;
        font-size: 15px;
        font-weight: 700;

        li {
          margin-right: 20px;
        }
      }

      .info {
        color: #999999;

        .bar {
          margin: 0 5px;
        }
        em {
          font-size: 4px;
        }
      }

      .sns {
        color: #999999;
        margin-top: 20px;
      }
    }
  }

  .footer-bottom {
    img {
      border-top: 0.8px solid #999999;
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }
}
