@import "../../Styles/Common.scss";

.signup {
  align-items: center;
  margin: 0 auto;
  width: 640px;

  .signup_top {
    width: 640px;

    h3 {
      padding-top: 64px;
      color: #333;
      text-align: center;
      font-weight: 900;
      font-size: 3rem;
    }

    p {
      padding: 23px 0 10px;
      border-bottom: 2px solid $font-black;
      text-align: end;
      font-size: 1.2rem;
    }

    p::before {
      content: "*";
      color: #ee6a7b;
    }
  }

  .signup_mid {
    padding: 0 20px;
    margin-top: 10px;
    width: 640px;
    height: auto;
  }

  .signup_bottom {
    text-align: center;
    width: 640px;
    margin-top: 20px;
    border-top: 2px solid $font-black;

    button {
      width: 240px;
      height: 56px;
      margin-top: 40px;
      border: 1px solid $font-purple;
      background-color: $font-purple;
      color: white;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

.block {
  display: block;
}

.none {
  display: none;
}
